@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body { 
    font-family: "Noto Sans KR", sans-serif; 
}

.font-size-flex {
    display: flex;
    flex-direction: row;
}

.font-size-flex-col {
    width: 50%;
}

.font-size-abs-col {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.sample-size {
    width: 80px;
    margin: 0;
    position: absolute;
    top: 0;
    font-size: 13px;
    font-family: Verdana, sans-serif;
    color: #999;
}

.sample-size-left {
    left: -100px;
    text-align: right;
}

.sample-size-right {
    right: -100px;
    text-align: left;
}

.font-size-text-container p {
    margin: 9px 0;
}

.font-size-text {
    white-space: nowrap;
    font-size: inherit;
    font-family: inherit;
}

.font-size-text-left {
    text-align: left;
}

.font-size-text-right {
    text-align: right;
}

.trunc {
    height: calc(1.4em * 4);
    max-height: calc(1.4em * 4);

    overflow: hidden;
    text-overflow: ellipsis;
}

.sample-charset {
    margin: 10px 0;
    line-height: 1.1em;
}

.charset-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.charset-item {
    margin-right: 10px !important;
    color: black !important;
}

.relative {
    position: relative;
}

.justify-end {
    justify-content: flex-end;
}

.self-end {
    align-self: flex-end;
}